/*
    NOTE TO STUDENTS: 

    This is the file you should be writing your CSS in 
    for the Generic License assignment.

    Good luck, and have fun!
*/

#license {
    width: 700px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 2px;
}
#left-side {
    display: inline-block;
    width: 65%;
}
#right-side {
    display: inline-block; 
    width: 34%;
}
#right-side img {
    width: 100%;
}
#id-and-expiration {
    display: inline-block;
}
#small-pic #data-fields {
    display: inline-block;
}
#small-pic-container img {
    width: 50%;
    object-fit: cover;
}
#data-left  #data-right{
    display: inline-block;
}
#signature {
    text-align: center;
}

#donor  #real-id {
    display: inline-block;
}