@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    font-family: Bebas Neue, sans-serif;
}
h2,
h4 {
    font-family: Josefin Sans, sans-serif;
}
.single-column {
    width: 80%;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.dark-container {
    background-color: lavender;
    color: black;
}
.light-container {
    background-color: blanchedalmond;
}
.in-container {
    background-color: black;
    align-content: center;
}