/* Resets Below */
* {
    box-sizing: border-box;
    text-decoration: none;
}
body {
    margin: 0px;
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
/* Resets Above */
.single-column {
    width: 90%;
    max-width: 900px;
    margin: 0px auto;
    border: 2px solid black;
}
header {
    background-color: white;
    border: 2px solid black;
}
header nav {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
nav a {
    color: black;
    text-decoration: none;
}
#hero {
    background-image: url("../images/urban-hi-res-2nse.jpg");
    background-size: cover;
    background-position: center;
    height: 80vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    display: flex; 
    
}
#hero div {
    background-color: #ffffff00;
    padding: 72px;
    border-radius: 100px;
    backdrop-filter: blur(2px);
}
#hero a {
    color: white;
}

.gallery {
    text-align: center;
    border: 2px solid black;
}
#gal {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    border: 3px solid black;
    padding: 25px;
}
#gal img {
    height: 100%;
}
.card {
    display: flex;
    gap: 25px;
    justify-content: center;
    padding: 50px;
    border: 2px solid black;
}
.card a {
    color: black;
}
.one {
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}
.two {
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}
.three {
    border: 5px solid black;
    padding: 50px;
    text-align: center;
}

/* MEDIA QUERIES */
@media screen and ( max-width: 800px) {
    header nav {
        flex-wrap: wrap;
    }
    .card {
        flex-direction: column;
    }
}
