div {
    background-color: #ffe9c4;
    padding: 25px;
    margin-bottom: 50px;
}
div p {
    margin-top: 0px;
}
.btn {
    text-decoration: none;
    background-color: #da800a;
    padding: 15px 30px;
    display: inline-block;
    color: #fff;
    border-radius: 15px;
    box-shadow: 2px 2px 5px #1115;
}
.btn:hover {
    background-color: transparent;
    border: 2px solid #da800a;
    color: #da800a;
}