* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    font-family: sans-serif;
}
img {
    width: 100%;
    object-fit: cover;
}
a {
    text-decoration: none;
    display: inline-block;
} 

.btn {
    color: white;
    background-color: black;
    border: 40px solid 10px;
    padding: 10px;
}
.single-column {
    margin: 0px auto;
    width: 90%;
    max-width: 1200px;
    gap: 50px;
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px;
}
.one {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.two {
    display: flex;
    gap: 10px;
    padding: 10px;
}
.part-one p {
    font-weight: 300;
    line-height: 1.75em;
}
.single-column img {
    height: 200px;
}
.image img {
    height: 100%;
    width: 100%;
     object-fit: cover;
}

.head {
   display: flex;
   gap: 50px;
   padding: 20px;
    margin: 20px;
    text-align: center;
    
}
.head img {
    height: 100%;
}
h2 {
    text-align: center; 
    padding: 10px;
}
.korean img {
    max-height: 330px;
    box-sizing: border-box;
    width: 250px;
}
.chicken img {
    max-height: 550px;
    box-sizing: border-box;
    width: 250px;

}
.spices img {
    max-height: 550px;
    box-sizing: border-box;
    width: 250px;
}